<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>MUSIC</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/layui.mobile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/APlayer.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/new/Player.js' %}" type="text/javascript"></script>
{#    <script src="../../static/js/layui.all.js" type="text/javascript"></script>#}
{#    <script src="../../static/js/Jquery.min.js"></script>#}
{#    <script src="../../static/js/background-blur.js"></script>#}
    <script src="{% static 'js/new/search.js' %}"></script>
    <style>

    </style>
</head>
<body>

<!-- 头部 -->
<div id="header" class="layui-header">

    <div class="layui-container header-content">
        <div class="logo">
            <p>Yoho! Music</p>
        </div>
        <ul class="layui-nav">
            <li class="layui-nav-item index"><a href="#" onclick="header(0);">首页</a></li>
            <li class="layui-nav-item top"><a href="#" onclick="header(1);">排行榜</a></li>
            <li class="layui-nav-item list"><a href="#" onclick="header(2);">歌单</a></li>
            <li class="layui-nav-item about"><a href="#" onclick="header(3);">关于</a></li>
            <li class="layui-nav-item about" style="font-size:20px;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;">{{ username }}</li>

        </ul>
        <div class="search">
            <form id="search" action="{% url 'search' 1 %}" method="POST">
                {% csrf_token %}

                <select name="platform" style="background-color: black;color:white" >

                    <option value="wy" >网易</option>
                    <option value="qq" selected>QQ</option>
                    <option value="kugou">酷狗</option>
                    <option value="kuwo">酷我</option>
                </select>
            <input class="layui-input "   id="search" type="search" placeholder="请输入音乐名称回车搜索"  name="music" onsubmit="return beforesubmit()">
            </form>
        </div>
    </div>
</div>
<div class="layui-container" id="content">
    <div class="layui-tab" id="top" lay-filter="top">
{#        <ul class="layui-tab-title">#}
{#            <li class="layui-this">网易云音乐</li>#}
{#            <li>QQ音乐</li>#}
{#            <li>酷狗音乐</li>#}
{#        </ul>#}

    </div>
{#    music list#}
{#        music_title music_pic_src music_src author time album_pic_src music_id#}
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="music-list">
                <ul>
                    <li class="music-list-li music-list-header">
                        <div class="layui-row">

                            <div class="layui-col-xs1">
                                <div class="number">序号</div>
                            </div>
                            <div class="layui-col-xs7">
                                <div class="title">歌曲</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="play">播放</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="download">下载</div>
                            </div>
                            <div class="layui-col-xs2">
                                <div class="time">时长</div>
                            </div>

                        </div>
                    </li>
                    <div id="add">
                        {{ list.hello}}
                        <li class="music-list-li">
                        {% for music in music_list %}
                            <div class="layui-row" >
                                <div class="layui-col-xs1">
                                    <div class="number">{{ forloop.counter }}</div>
                                </div>
                                <div class="layui-col-xs7 text-hide">
                                    <div class="pic list-song">
                                        <img src='{{ music.music_pic_src }}' alt="loadimg...">
                                    </div>
                                    <div class="title list-song">
                                        <p>{{ music.music_title }}</p>
                                    </div>
                                    <div class="author list-song">
                                         <p>{{ music.author }}</p>
                                    </div>
                                </div>

                                <div class="layui-col-xs1">
                                    <div class="play">
                                        <a href="javascript:void(0)" onclick="playThis({{ music.music_id }})" value="0" >
                                            <i class="layui-icon icon-player" value="0" style="font-size:20px;color:#049688;"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="layui-col-xs1">
                                    <div class="download">
                                        <a href='{{ music.music_src }}' download="{{ music.music_title }}">
                                            <i class="layui-icon" style="font-size:20px;color:#049688;"></i>
                                        </a>
{#                                        <a href="{% static 'img/login.jpg' %}" download="a">#}
{#                                        <i class="layui-icon" style="font-size:20px;color:#049688;"></i>#}
{#                                        </a>#}
                                        <audio class="audio" id="{{ music.music_id }}" src="{{ music.music_src }}" hidden="true" preload="none"></audio>
                                    </div>
                                </div>
                                <div class="layui-col-xs2">
                                    <div class="time">{{ music.time }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        </li>
                    </div>

                </ul>
            </div>
        </div>
    </div>


<div class="layui-container" >
    <div id="page">
            <div class="layui-box layui-laypage layui-laypage-default">
                <a href="{% url 'search' prev_page %}" class="layui-laypage-prev ">
                    上一页
                </a>
                <span class="layui-laypage-curr">
                    <em class="layui-laypage-curr"></em>
                    <em><a href="{% url 'search' page %}">{{ page }}</a></em>
                </span>
                <a href="{% url 'search'  last_page %}" class="layui-laypage-last" title="尾页">尾页</a>
                <a href="{% url 'search' next_page %}" class="layui-laypage-next">下一页</a>
            </div>
    </div>


</div>

<footer id="footer" class="layui-footer">
    <div class="layui-container">
        <div id="aplayer"></div>
    </div>
</footer>

</body>
</html>        





