<html>
<head>
<title>登陆注册页面</title>
</head>
<body>
  <div class="big">
        <h1 align=center>多平台音乐搜索登陆</h1>
        <form action='{% url "login:sign_in" %}' method="post">
            {% csrf_token %}
        <p>用户名：
        <input type="text" class=txt size="20" maxlength="30" name="username"/>
        </p>
        <p>密&nbsp;&nbsp;&nbsp;&nbsp;码：
          <input type="password" class=txt size="20" name="password"/>
        <br><br>
        <input type="submit" name="submit" value="登陆"/>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'login:sign_up'%}">注册</a> </p>
        </form>
      </div>
</body>
</html>

<style>
    *{
        padding:5px;
        margin:5px;
    }
    body{
        font-family:"宋体";
        font-size:12px;
    }
    .big{
        width:350px;
        border:#0033FF 1px solid;
        margin:10px 0 0 20px;
    }
    .up p{
        margin:5px;
        text-align:center;
    }
  </style>

